.hero {
  height: calc(100vh - 56px);
  background-color: rgb(110, 108, 108);
  padding-top: 60px;
}

.hero-text {
  color: gold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}
.hero-row-btn {
  text-align: center;
  /* border: 1px solid red; */
}
.hero-row-btn .col {
  border: 1px solid rgb(0, 255, 26);
}
.hero-scroller {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  width: 90px;
  height: 120px;
  border: 2px solid white;
}
